.mainBody {
  font-family: Arial;
  padding: 20px;
  background: #F8998D;
}

.header {
  padding: 60px;
  margin: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
